.postUserImg{
  height: 46px;
  width: 46px;
  border: 2px solid #000400;
  border-radius: 50%;
}
.postSection{
  border:2px solid #000400;
  box-shadow: 0px 3px 0px #000400;
  border-radius: 8px;
  margin-top: 20px;
  margin-bottom: 20px;
}
